.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    color: #fff;
}
  
.buttons button {
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
  
.buttons button:hover {
    color: #ff0000;
}