<!-- Esto va a estar en todas las rutas -->
<h1>Título</h1>
<app-navbar-personalizado></app-navbar-personalizado>

<!--
    Distintas rutas configuradas, solo se muestra ese componente cuando estamos en su ruta especificada:
    ej: todo lo de fuera del router-outlet, va a estar en todas las rutas, lo que NO este, va a ir cambiando el componente
    dependiendo de la ruta configurada en app.routing.ts, en este ejemplo, el titulo, el navbar, y el footer, van a estar en
    todas las páginas, pero las distintas rutas, configuradas en app.routing.ts, solo saldran aqui, una vez y depende de la ruta
 -->
<router-outlet></router-outlet>
<app-footer></app-footer>
